<div class="flex-container bg-gray-200 p-4">
<div class="customer-list container z-0">
  <div class="header-section flex-container ">
    <div class="title flex-item">
      <h1>Customers</h1>
    </div>
    <div class="action-buttons flex-item ">
      <button mat-raised-button style="background-color:  #007bff;border-radius: 15px; color: #fff; margin-right: 10px;" [routerLink]="'/customers/add'">Add Customer</button>
      <button mat-raised-button style="background-color: #dc3545;border-radius: 15px; color: #fff;" [routerLink]="'/customers/delete'">Delete</button>
    </div>
    
  </div>

  <div class="search-section">
    <mat-form-field class="search-bar mat-elevation-z8" >
      <mat-label>Search by Name</mat-label>
      <input matInput [(ngModel)]="filterName" (ngModelChange)="onSearch()" placeholder="Enter name">
    </mat-form-field>
    <mat-form-field class="search-bar mat-elevation-z8">
      <mat-label>Search by Email</mat-label>
      <input matInput [(ngModel)]="filterEmail" (ngModelChange)="onSearch()" placeholder="Enter email">
    </mat-form-field>
  </div>

  <div class="customer-list-table mat-elevation-z8">
    <table mat-table [dataSource]="customers" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let customer"> {{customer.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let customer"> {{customer.phoneNumber}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let customer">
          <button mat-button color="warn" (click)="onDelete(customer.id)">Delete</button>
          <button mat-button color="primary" [routerLink]="'/customers/edit/' + customer.id">Edit</button>
        </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'phoneNumber', 'email', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'phoneNumber', 'email', 'actions'];"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator style="border-radius: 10px;"
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
      (page)="onPaginateChange($event)">
    </mat-paginator>
  </div>
</div>
</div>