.snack-bar-success {
    background-color: #28a745; /* Green */
    color: white;
  }
  
  .snack-bar-error {
    background-color: #dc3545; /* Red */
    color: white;
  }
  
  .snack-bar-info {
    background-color: #17a2b8; /* Blue */
    color: white;
  }
  
  .snack-bar-warning {
    background-color: #ffc107; /* Yellow */
    color: black;
  }
  
  .snackbar-content {
    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
  }
  